.inputWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 55%;
  /* top: 30%; */
  /* position: fixed; */
  margin-left: 3rem;
}

/* .repoCardWrapper {
  position: fixed;
  top: 50%;
  margin: 0 auto;
  transform: translate(-50%, -50%);
  max-height: 400px;
  overflow-y: scroll;
  border: 1px solid #ccc;
  padding: 20px
} */

.repoCardWrapper {
  margin-top: 3rem;
  width: 50%;
}